{{ template "_internal/google_analytics.html" . }}

{{ if .Site.Params.analytics.umami.enable }}
<script async defer data-website-id="{{ .Site.Params.analytics.umami.website_id }}"
    src="{{ .Site.Params.analytics.umami.url }}"></script>
{{ end }}

<script>
    function sendEvent(eventName, options) {
        const isLocalhost = /^localhost$|^127(?:\.[0-9]+){0,2}\.[0-9]+$|^(?:0*:)*?:?0*1$/.test(location.hostname) || location.protocol === 'file:';
        if (!options.trackLocalhost && isLocalhost) {
            return console.warn('[Plausible] Ignoring event because website is running locally');
        }
        const payload = {
            n: eventName,
            u: location.href,
            d: location.hostname,
            r: document.referrer || '',
            w: window.innerWidth,
            p: options && options.props ? JSON.stringify(options.props) : undefined,
        };
        const req = new XMLHttpRequest();
        req.open('POST', options.apiHost + "/api/event", true);
        req.setRequestHeader('Content-Type', 'application/json');
        req.send(JSON.stringify(payload));
        // eslint-disable-next-line functional/immutable-data
        req.onreadystatechange = () => {
            if (req.readyState !== 4)
                return;
            if (options && options.callback) {
                options.callback();
            }
        };
    }
    sendEvent('pageview', {
        apiHost: 'https://www.ddhigh.com',
    });
</script>